<yas-label-list></yas-label-list>
<section class="todoapp">
  <header class="header">
    <h1>{{pageTitle}}</h1>
    <yas-add-todo></yas-add-todo>
  </header>
  <yas-todo-main></yas-todo-main>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Written by <a href="http://twitter.com/lukeed05">Luke Edwards</a></p>
  <p>Refactored and altered by <a href="https://github.com/kerez">Kfir Erez</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<!--<script src="dist/bundle.js"></script>-->
<!--<script src="node_modules/todomvc-common/base.js"></script>-->
<!--<link rel="stylesheet" href="node_modules/todomvc-common/base.css">-->
