<section class="tag-list">
  <header class="labels-table header">
    <span class="cell">Label</span>
    <span class="cell">Count</span>
  </header>
  <section>
    <div class="labels-table row">
      <span class="cell">label 1</span>
      <span class="cell">3</span>
    </div>
    <div class="labels-table row">
      <span class="cell">label 2</span>
      <span class="cell">6</span>
    </div>
  </section>
</section>
<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus>
  </header>
  <section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li>
        <div class="view">
          <input class="toggle" type="checkbox" [checked]="false">
          <label>Todo #1</label>
          <section class="buttons-ctrl">
            <button class="btn">
              <svg class="vcenter" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none"/>
                <path
                  d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84l3.96-5.58c.25-.35.25-.81 0-1.16l-3.96-5.58z"/>
              </svg>
            </button>
            <button class="btn">x</button>
          </section>
        </div>
        <input class="edit" value="Todo #1">
        <div>
          task's tags list here (for tag in tags) show tag component
        </div>
      </li>
    </ul>
    <footer class="footer">
      <span class="todo-count"></span>
      <ul class="filters">
        <li>
          <a href="#/" class="selected">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>
      <button class="clear-completed">Clear completed</button>
    </footer>
  </section>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Written by <a href="http://twitter.com/lukeed05">Luke Edwards</a></p>
  <p>Refactored and altered by <a href="https://github.com/kerez">Kfir Erez</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<!--<script src="dist/bundle.js"></script>-->
<!--<script src="node_modules/todomvc-common/base.js"></script>-->
<!--<link rel="stylesheet" href="node_modules/todomvc-common/base.css">-->
