.buttons-ctrl {
  display: flex;
  justify-content: flex-end;
}

.vcenter {
  margin-top: 50%;
}

.svg-button {
  fill: #cc9a9a;
  &:hover {
    fill: #cc009a;
  }
  &:active {
    fill: #88339a;
  }
}
